spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: password

  jpa:
    hibernate:
      ddl-auto: update   # create, create-drop, update, validate, none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

    h2:
      console:
        enabled: true
        path: /h2-console

  server:
    port: 8080

  data:
    web:
      pageable:
        max-page-size: 100
        default-page-size: 20